{{#foreach posts}}
<article>
	<header>
		<div class="tags">{{tags}}</div>
		<h2><a href="{{url}}">{{title}}</a></h2>
		<div class="meta">Posted by
			{{#if author.profile_image}}<img src="{{author.profile_image}}" alt="{{author.name}}" nopin="nopin">{{/if}}
			{{author}} on <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time>
		</div>
	</header>
	<section class="excerpt">
		<p>{{excerpt words="100"}}...</p>
	</section>
</article>
{{/foreach}}

{{pagination}}
