{{!< default }}

{{#post}}
<article class="{{post_class}}">
	<div class="container">
		{{#if feature_image}}
		<figure class="feature-image">
			<img src="{{feature_image}}" alt="{{title}}">
		</figure>
		{{/if}}

		<header>
			<h1 class="title">{{title}}</h1>
		</header>

		<section class="content">
			{{content}}
		</section>
	</div>
</article>
{{/post}}

{{#contentFor "scripts"}}
<script src="{{asset "js/vendor/prism.js"}}"></script>
{{/contentFor}}
